<component name="ArtifactManager">
  <artifact type="war" name="springMVCDemo:war">
    <output-path>$PROJECT_DIR$/springMVCDemo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVCDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVCDemo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVCDemo:war exploded" />
    </root>
  </artifact>
</component>